.container {
	padding: 0 2rem;
}

.main {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 4rem 0;
}

.thumbnailImage {
	object-fit: cover;
	margin-bottom: 20px;
	cursor: pointer;
	box-shadow: 4px 5px 12px black;
	transition: all 0.3s;
}

.thumbnailImage:hover {
	box-shadow: none;
	transform: translate(4px, 5px);
}

.grid {
	display: grid;
	flex-wrap: wrap;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	gap: 40px;
	max-width: 1200px;
	margin: 0 auto;
}
